body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
}

.oso {
    position: relative;
    width: 200px;
    height: 300px;
}

.oreja {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: beige;
    border-radius: 50%;
}

.oreja.izquierda {
    top: 0;
    left: 0;
}

.oreja.derecha {
    top: 0;
    right: 0;
}

.cabeza {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
    background-color: beige;
    border-radius: 50%;
}

.ojo {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}

.ojo.izquierdo {
    top: 80px;
    left: 70px;
}

.ojo.derecho {
    top: 80px;
    left: 110px;
}

.hocico {
    position: absolute;
    top: 100px;
    left: 80px;
    width: 40px;
    height: 30px;
    background-color: #fff;
    border-radius: 50% / 60%;
}

.nariz {
    position: absolute;
    top: 110px;
    left: 95px;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
}

.boca {
    position: absolute;
    top: 120px;
    left: 90px;
    width: 20px;
    height: 10px;
    background-color: #000;
    border-radius: 50% / 100%;
}

.cuerpo {
    position: absolute;
    top: 150px; 
    left: 25px;
    width: 150px;
    height: 150px;
    background-color: beige;
    border-radius: 50%;
}

.pata {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: beige;
    border-radius: 50%;
}

.pata.izquierda {
    top: 280px;
    left: 10px;
}

.pata.derecha {
    top: 280px;
    right: 10px;
}

.manito {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: beige;
    border-radius: 50%;
}

.manito.izquierda {
    top: 190px; 
    left: -40px;
}

.manito.derecha {
    top: 190px;
    right: -40px;
}

.mancha {
    position: absolute;
    top: 190px; 
    left: 60px;
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
}